PortalProveedor/WebService/WebContent/wsdl/ProcessPublisher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sistemas.waliria.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sistemas.waliria.com" xmlns:intf="http://sistemas.waliria.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://sistemas.waliria.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="manageProcess">
    <complexType>
     <sequence>
      <element name="AD_Client_ID" type="xsd:int"/>
      <element name="ProcessName" type="xsd:string"/>
      <element name="User" type="xsd:string"/>
      <element name="InstanceName" type="xsd:string"/>
      <element maxOccurs="unbounded" name="parametersKey" type="xsd:string"/>
      <element maxOccurs="unbounded" name="parametersValue" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="manageProcessResponse">
    <complexType>
     <sequence>
      <element name="manageProcessReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="manageProcessResponse">

      <wsdl:part element="impl:manageProcessResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="manageProcessRequest">

      <wsdl:part element="impl:manageProcess" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProcessPublisher">

      <wsdl:operation name="manageProcess">

         <wsdl:input message="impl:manageProcessRequest" name="manageProcessRequest">

       </wsdl:input>

         <wsdl:output message="impl:manageProcessResponse" name="manageProcessResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProcessPublisherSoapBinding" type="impl:ProcessPublisher">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="manageProcess">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="manageProcessRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="manageProcessResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProcessPublisherService">

      <wsdl:port binding="impl:ProcessPublisherSoapBinding" name="ProcessPublisher">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/ProcessPublisher"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
